.chat-room-info {
  display: flex;
  padding: 3px;
  border-bottom: 1px solid rgb(231, 226, 226);
  align-items: center;
  cursor: pointer;
  height: 9vh;
  padding: 13px;
}
.person-info {
  align-items: center;
  line-height: 80%;
  margin-left: 10px;
}
